
public_html/.htaccess
public_html/assets/images/
public_html/assets/fancyapps/
public_html/assets/databasepics/
public_html/assets/fonts/
public_html/assets/icons/
public_html/assets/css/.sass-cache/
public_html/assets/js/old-browser-scripts/
public_html/assets/js/.sass-cache/
public_html/assets/jquery-1.11.0.min.js
public_html/assets/jquery.validate.min.js
public_html/assets/PIE.htc
public_html/assets/css/partials/
public_html/assets/css/poll
logs/
audio/
nbproject/
error.log
access.log
sql-dump/
style.css
Procfile
includes/DatabaseConnection.php
vendor/
.env-dev
composer.lock
samples/
spare/*.sql
fonts/
.sass-cache/*
spare/DatabaseConnection.php
Dump20200112/
node_modules
php.ini
.sass-cache/*.scss
includes/ajax/
spare/
