
public_html/media/
public_html/assets/images/
public_html/assets/fancyapps/
public_html/assets/databasepics/
public_html/assets/fonts/
public_html/assets/icons/
public_html/assets/css/.sass-cache/
public_html/results.php
public_html/assets/js/.sass-cache/
public_html/assets/css/PIE.htc
public_html/assets/css/poll
public_html/assets/js/misc/
public_html/assets/js/bxslider-4-master/
nbproject/
error.log
access.log
database-connect.txt
sql-dump/
style.css
composer.json
Procfile