@mixin clearfix {
  &:before,
  &:after {
    content: '';
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin box-sizing($type:border-box) {
    -webkit-box-sizing: $type; // Android < 2.3, iOS < 4
    -moz-box-sizing: $type; // Firefox < 29
    box-sizing: $type; // Chrome, IE 8+, Opera, Safari 5.1
}

@mixin boredrady( $shadow... ) {
    -webkit-border-radius: $shadow;
    -moz-border-radius: $shadow;
    -o-border-radius: $shadow;
    border-radius: $shadow;
}

@mixin transitioner( $transitioner... ) {
-webkit-transition: $transitioner;
-moz-transition: $transitioner;
-o-transition: $transitioner;
transition: $transitioner;
}

@mixin transforming-things( $transforming-things... ) {
  transform: $transforming-things;
  -webkit-transform: $transforming-things;
  -moz-transform: $transforming-things;
  -o-transform: $transforming-things;
}