@import 'variables';

.box-set::before,
.box-set::after {
  content: '';
  display: table;
}

.box-set::after {
  clear: both;
}

.box-set {
  overflow: auto;
  *zoom: 1;
}

.browsehappy {
  font-size: 1em;
  color: $bg-black;
  background-color: $dark-grey;
  a {
    display: inline-block;
  }
}

body {
  // background-image: url('/assets/images/526.gif');
  line-height: 1;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  font-family: $FontListText;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  border: none;
}

p {
  width: 100%;
  font-weight: normal;
  font-family: $FontListText;
}

label {
  display: block;
  width: 100%;
  font-family: $FontListText;
}

hr {
  width: 60%;
  clear: both;
  display: block;
  margin: 1% auto;
  color: $stone-grey;
  outline: none;
  height: 1px;
  border: none;
}

h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  width: 100%;
  font-family: $FontList;
}

/* Place a border around focused fields */
#search-form *:focus {
  border: 2px solid $button-border;
  outline: none;
}

/* Display correctly filled-in fields with a green background */

/* Submit buttons */
input[type='text']:focus {
  background-color: $button-hover;
}

input[type='submit'],
select[type='text'] {
  display: inline;
  margin: 0;
  border: 2px solid $button-border;
  border-radius: 5px;
  color: $white-color;
  background: $orange-color;
  font-weight: bold;
  appearance: none;
  line-height: 1.5em;
}

input[type='submit'] {
  margin: 0;
  padding: 0;
  border: 2px solid $button-border;
  border-radius: 5px;
  box-shadow: 0 0 0.5em $bg-black;
  color: $white-color;
  background: $orange-color;
  font-weight: bold;
  appearance: none;
}

input[type='submit']:hover,
select[type='text']:hover,
input[type='submit']:active,
select[type='text']:active {
  cursor: pointer;
  background-color: $white-color;
  color: $orange-color2;
}

input[type='submit']:active {
  background-color: $white-color;
  box-shadow: 0 0 0.5em $bg-black inset;
}
