@mixin clearfix {
  &:before,
  &:after {
    content: '';
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin box-sizing($type:border-box) {
    -webkit-box-sizing: $type; // Android < 2.3, iOS < 4
    -moz-box-sizing: $type; // Firefox < 29
    box-sizing: $type; // Chrome, IE 8+, Opera, Safari 5.1
}

@mixin mannering-border( $mannering-border... ) {
    -webkit-border-radius: $mannering-border;
    -moz-border-radius: $mannering-border;
    -o-border-radius: $mannering-border;
    border-radius: $mannering-border;
}

@mixin mannering-transition( $mannering-transition... ) {
-webkit-transition: $mannering-transition;
-moz-transition: $mannering-transition;
-o-transition: $mannering-transition;
transition: $mannering-transition;
}

@mixin mannering-transform( $mannering-transform... ) {
  transform: $mannering-transform;
  -webkit-transform: $mannering-transform;
  -moz-transform: $mannering-transform;
  -o-transform: $mannering-transform;
}
