

$color1:#ECAC00; //orange
$color2:#FFF; //white
$color3:#3A3A3A; //stone-grey
$color4:#3B3B3F; //stone-grey 2
$color5:#2b2b2b; //darker-stone-grey
$color6:#333333; //  dark grey
$color7:#181818;  //bg-black
$color8:#666666; //light-grey
$color9:#3b3b3b; //stone-grey-3
$color10:#EBAB00; //title-orange
$progress:#e50;

$formboxbg :#136899;
$advertRed:#CD1F25;
$header2:#999999;

$dark-box : #5e0400;
$slider-text:#CD1F25;
$front-bg:#e9e5e5;

$prodboxtxtcol:#4b4b4b;

$FontList: 'Harabara_Bold', sans-serif;