$orange-color:#ECAC00; //orange
$orange-color1:#EBAB00; //title-orange
$white-color:#FFF; //white
$stone-grey:#3A3A3A; //stone-grey
$stone-grey2:#3B3B3F; //stone-grey 2
$stone-grey3:#3b3b3b; //stone-grey-3
$darker-stone-grey:#2b2b2b; //darker-stone-grey
$dark-grey:#333333; //  dark grey
$light-grey:#666666; //light-grey
$bg-black:#181818;  //bg-black
$button-hover:yellow;
$button-border:#7c412b;


$FontList: 'Oswald', sans-serif;
$FontListText: 'Lato', sans-serif;
